/* 定位页面主标题并添加样式 */
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
  text-align: center;
}
/* 图像居中 */
img {
  display: block;
  margin: 0 auto;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
/* 改变页面颜色 */
html {
  background-color: #ffffff;
}
/* 文档体样式 
padding（内边距）：是指内容周围的空间。在下面的例子中，它是段落文本周围的空间。
border（边框）：是紧接着内边距的实线。
margin（外边距）：是围绕元素边框外侧的空间。*/
body {
  width: 600px;
  margin: 0 auto;
  background-color: #d4dad9;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
